/**************************************
    GENERIC CSS
**************************************/
@font-face {
  font-family: "Inter-Light",sans-serif;
  src: url(../fonts/Inter-Light.ttf);
}

@font-face {
  font-family: "Inter-Regular",sans-serif;
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Bold",sans-serif;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter-SemiBold",sans-serif;
  src: url(../fonts/Inter-SemiBold.ttf);
}
/*******************
albertsans fontfamily
********************/
@font-face {
  font-family: AlbertSans-Medium;
  src: url(../font/AlbertSans-Medium.ttf);
}
/*********************
alegerya font-family
*********************/
@font-face {
  font-family: Alegreya-SemiBold;
  src: url(../font/Alegreya-SemiBold.ttf);
}
/*********************
coolvetica fontfamily
*********************/
@font-face {
  font-family: coolvetica_rg;
  src: url(../font/coolvetica_rg.ttf);
}
/********************
Figerona font-family
*********************/
@font-face {
  font-family: Figerona-Black;
  src: url(../font/Figerona-Black.otf);
}
/********************
Roboto font-family
*********************/
@font-face {
  font-family: Roboto-Light;
  src: url(../font/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(../font/Roboto-Black.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../font/Roboto-Medium.ttf);
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  min-height: 100vh;
} 
/**/
  &::-webkit-scrollbar {
      width: 10px;
  }

  /*Track */
  &::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
      background: #888; 
  }

  /*Handle on hover*/
  &::-webkit-scrollbar-thumb:hover {
      background: #555; 
  }
h1{
  font-size: 36px;
  font-family: "Inter-Regular", sans-serif;
}
h2{
  font-size: 32px;
  font-family: Roboto-Black;
}
h3{
  font-size: 28px;
  font-family: Roboto-Black;
}
h4{
  font-size: 24px;
  font-family: Roboto-Black !important;
}
h5{
  font-size: 16px;
  font-family: Roboto-Black !important;
  margin: 0;
}
h6{
  font-size: 12px;
  font-family: "Inter-Regular", sans-serif;
  margin: 0;
}
p{
  font-size: 14px;
  font-family: Roboto-Light;
  margin-bottom: 0;
  color: #767676;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}
ul,
ol{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: unset;
}
img{
  max-width: 100%;
}
span{
  display: inline-block;
}
section{
  padding: 50px 0;
}
button{
  background-color: unset;
  border: unset;
}

.custom-btn a{
  background-color: white;
  color: rgba(54, 79, 107, 1);
  max-width: 30px;
  padding: 11px 13px;
  border-radius: 6px;
  font-size: 12px;
  font-family: Roboto-Black;
}
.custom-btn a:hover{
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.flex-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-start{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
a:hover{
  color: white;
}
#shadow-host-companion{
  display: none;
}
/*******************
    Header
********************/
.navbar-light .navbar-brand{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}
/*******************
   banner section
*******************/
.banner-container{
  background-image: url(../images/main-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* min-height: 80vh; */
  padding: 10px 0;
}
.banner-form{
  width: 410px;
  margin: auto;
  background-color: #2b2b2b;
  padding: 40px 20px;
  border-radius: 10px;
}
.banner-form form{
  background-color: #cccccc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
}
.banner-form form h4{
  color:  rgba(54, 79, 107, 1);
  text-align: center;
  font-family: coolvetica_rg;
}
.form-control{
  border: 1px solid white;
}

/* .banner-form form .input-box{
  margin: -14px 0;
} */
.btn:hover{
  color: unset;
}
button.btn {
  background-color: rgba(54, 79, 107, 1);
  color: white;
  width: 150px;
  border-radius: 8px;
  padding: 0.3rem 0.75rem;
  font-family: Alegreya-SemiBold;
}
.submit-btn-box button.login-btn{
  background-color: white;
  color: rgba(54, 79, 107, 1);
  width: 100px !important;
}
.submit-btn-box button.login-btn:hover{
  background-color: rgba(54, 79, 107, 1) !important;
  color: white !important;
}
.submit-btn-box button.btn{
  width: 250px;
}
.submit-btn-box button.btn:hover{
  background-color: white;
  color: rgba(54, 79, 107, 1);
}
input::placeholder {
  font-family: Alegreya-SemiBold;
  
}
textarea{
  font-family:Alegreya-SemiBold;
}
.img-bg-color-box img{
  margin-top: -100px;
}
.location-input{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.25rem;
}
.location-input .location{
  color: #656565;
  width: 50px;
  text-align: center;
}
.form-label{
  color: black;
  font-weight: 700;
}
/**************
OUR SERVICE 
**************/
.section-content-box h5{
  font-family: Figerona-Black;
  font-weight: 100;
  word-spacing: unset;
}
.section-content-box h4{
  font-family: Figerona-Black;
}
 .service-card-col{
  border-right: 1.5px dotted #767676;
}
.service-card h5{
  color: black;
  font-family: Figerona-Black;
  word-break: unset;
}

.booking-content ul{
  list-style: none;
}
.booking-content ul li{
  font-size: 11px;
  padding: 3px 0;
}
/******************************
   best rental service section
******************************/
.rental-service-content .booking-card .divider{
  width: 15%;
  height: 1.4px;
  margin: 0;
}

/*****************************
    our rental fleets section
******************************/
.section-content-box .booking-card .divider{
  width: 15%;
}
.car-info-box p{
  color: white;
}
.rental-fleets-card{
  background-color: rgba(54, 79, 107, 1);
  border-radius: 5px;
}
.rental-fleets-card .img-box{
  width: 70%;
  margin: auto;
}
.rental-content-content h5{
  font-family: Figerona-Black;
  color: white;
}
.current-hot-deal h6{
  background-color: black;
  color: white;
  display: inline;
  padding: 10px;
  border-right: 3px solid green;
  position: absolute;

}
.current-hot-deal .per-day-content{
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px;
  border-right: 3px solid green;
  position: absolute;
  top: 70%;
  right: 10px;
}
.card-footer{
  background-color: #f1f1f1;
  color: rgba(54, 79, 107, 1);
  text-align: center;
  padding: 3px 15px;
  font-size: 12px;
  font-family: Roboto-Medium;
  border-radius: unset !important;
}
.card-footer:hover{
  color: white;
  background-color: unset;
  border: 1px solid white;
}
/*****************************
 downlaod the app car section
*****************************/
.section-bg-img{
  background-image: url(../images/bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.color-layer{
  background-color: rgba(54, 79, 107, .9);
  /* padding: 50px 0; */
  padding-bottom: 0;
}
/* .download-app-content .numbers{
  width: 55px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  font-family: Alegreya-SemiBold;
}
.download-app-content .content h5{
  font-family: Figerona-Black;
} */
.download-app-content p{
  font-size: 11px;
}

/*******************
nationwide service
********************/
.nation-wide-service .divider{
  background-color:  rgba(54, 79, 107, 1);
  width: 6%;
  height: 1.2px;
  margin: auto;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}
.nation-wide-service .divider:after{
  content: '';
  width: 100%;
  height: 1.5px;
  background-color:  rgba(54, 79, 107, .4);
  margin: auto;
  position: absolute;
  top: 3px;
  left: 8px;
  transition: all 0.3s ease-in-out;
}
.nation-wide-service-box ul{
  list-style: none;
  display: inline;
}
.nation-wide-service-box ul li a span{
  font-family: coolvetica_rg;
  color: rgba(54, 79, 107, 1);
}
.nation-wide-service-box i.fa-map-marker{
  font-size: 22px;
  padding: 5px 10px;
  border: 1px dotted black;
}
a:hover{
  color: unset;
}
.row-adjust{
  width: 80%;
  margin: 0 auto;
}
/******************
Special offer section
*******************/
.bg-color-div{
  max-width: 850px;
  margin: auto;
}
.special-offer-box{
  background-image: url(../images/specail-offer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.specil-offer{
  height: 100%;
  color: white;
}
.specil-offer h3{
  font-family: coolvetica_rg;
  font-size: 70px;
}
.specil-offer h5{
  font-family: coolvetica_rg;
}
.specil-offer h4{
  font-family: coolvetica_rg;
}
.black-layer{
  background-color:rgba(0,0,0,0.7);
  height: 100%;
  display: flex;
  align-items: center;
}
.special-offer-bg-img{
  height: 100%;
  background-image: url(../images/bgcar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.special-offer-content p{
  color:white;
}
.special-offer-content h4{
  font-family: coolvetica_rg;
  color:white;
}
button.read-more-btn{
  background-color: white;
  color: black;
  width: 100px;
  padding: 0px;
  border-radius: 0px !important;
  font-family: Roboto-Light;
  font-weight: 700;
}
.contact-div{
  background-color: rgba(54, 79, 107, 1);
  min-height: 20vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*******************************
testimonial section+slick slider
********************************/
.testimonial-column{
  width: 76.3333333%;
  margin: 0 auto;
}
.testimonial-content-box h5 {
 font-family: Figerona-Black;
}
.testimonial-content-box h4 {
 font-family: Figerona-Black;

}
.testimonial-content-box h4{
  color: rgba(54, 79, 107, 1);
}
.testimonial-divider{
    width: calc(100% - 300px);
    height: 1.5px;
    margin: 0 auto;
    background-color: black;
}
.slick-slide{
  width: 375px !important;
}
.reviewer-box{
  margin-top:15px;
}
.client-review-box{
  height: 300px;
  background-color: white;
  border: 1px solid white;
}
.slick-prev:before{
  content: '\f0d9' !important;
  font-family: FontAwesome !important;
  opacity: 1 !important;
  color: white !important;
}
.slick-next:before{
  content: '\f0da' !important;
  font-family: FontAwesome !important;
  opacity: 1 !important;
  color: white !important;
}
.slick-arrow{
  top: 95% !important;
}
.slick-prev{
  background-color: rgba(54, 79, 107, 1) !important;
  left: 46% !important;

}
.slick-next{
  background-color: rgba(54, 79, 107, 1) !important;
  right: 50% !important;
}
/********************
      Footer
********************/
footer{
  padding: 40px 0;
  color: white;
  background-color: #161616;
}
.footer-content-box p{
  color: white;
  text-align: justify;
}
.footer-icon{
  color: white;
  margin-right: 5px;
}
.footer-content-ul-box ul li{
  border-bottom: 1.4px dotted white;
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: white;
}
.footer-content-ul-box ul li a span{
  color: white;
  font-size: 14px;
  font-family: Roboto-Light;
}
.contact-us-box p{
  color: white;
}
/*******social icon footer******/
.social-icon-footer{
  background-color: #0c0c0c;
  padding: 20px 0;
  color: white;
}
.left-footer-content p{
  color: unset;
}
.middle-content-box{
  display: flex;
  justify-content: space-evenly;
}
.middle-content-box span {
  font-size: 14px;
  font-family: 'Roboto-Light';
}
.social-box i {
  padding-right: 8px;
  border-right: 1px solid;
  margin-right: 5px;
}
.social-box i:last-child{
  border-right: unset;
}